In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
ls challenges-in-representation-learning-facial-expression-recognition-challenge

 Volume in drive E has no label.
 Volume Serial Number is 3E70-F6FC

 Directory of E:\Ai Work\Sir Haris\FER\challenges-in-representation-learning-facial-expression-recognition-challenge

03/13/2021  10:08 AM    <DIR>          .
03/13/2021  10:08 AM    <DIR>          ..
12/11/2019  04:02 AM             7,178 example_submission.csv
12/11/2019  04:02 AM        96,433,867 fer2013.tar.gz
12/11/2019  04:05 AM       301,072,768 icml_face_data.csv
12/11/2019  04:12 AM        60,125,203 test.csv
12/11/2019  04:13 AM       240,699,943 train.csv
               5 File(s)    698,338,959 bytes
               2 Dir(s)  485,235,658,752 bytes free

In [4]:
expression_df = pd.read_csv('challenges-in-representation-learning-facial-expression-recognition-challenge/icml_face_data.csv')

In [5]:
expression_df

       emotion        Usage                                             pixels
0            0     Training  70 80 82 72 58 58 60 63 54 58 60 48 89 115 121...
1            0     Training  151 150 147 155 148 133 111 140 170 174 182 15...
2            2     Training  231 212 156 164 174 138 161 173 182 200 106 38...
3            4     Training  24 32 36 30 32 23 19 20 30 41 21 22 32 34 21 1...
4            6     Training  4 0 0 0 0 0 0 0 0 0 0 0 3 15 23 28 48 50 58 84...
...        ...          ...                                                ...
35882        6  PrivateTest  50 36 17 22 23 29 33 39 34 37 37 37 39 43 48 5...
35883        3  PrivateTest  178 174 172 173 181 188 191 194 196 199 200 20...
35884        0  PrivateTest  17 17 16 23 28 22 19 17 25 26 20 24 31 19 27 9...
35885        3  PrivateTest  30 28 28 29 31 30 42 68 79 81 77 67 67 71 63 6...
35886        2  PrivateTest  19 13 14 12 13 16 21 33 50 57 71 84 97 108 122...

[35887 rows x 3 columns]

In [6]:
expression_df.shape

(35887, 3)

In [13]:
expression_df[' Usage'].unique()

array(['Training', 'PublicTest', 'PrivateTest'], dtype=object)

In [16]:
expression_df['emotion'].unique()

array([0, 2, 4, 6, 3, 5, 1], dtype=int64)

In [18]:
import collections

In [19]:
collections.Counter(np.array(expression_df['emotion']))

Counter({0: 4953, 2: 5121, 4: 6077, 6: 6198, 3: 8989, 5: 4002, 1: 547})

In [20]:
img = expression_df[' pixels'][1000]

In [22]:
img = np.array(img.split(' ')).reshape(48,48,1).astype('float32'))

SyntaxError: unmatched ')' (<ipython-input-22-3f6fa09c35c6>, line 1)